#wb_header { background: transparent none no-repeat scroll center top; height: 151px; }
#wb_header { height: 151px; }
#wb_main { background: #ece7d4 none repeat scroll left top; height: 334px; padding: 0 0 20px 0; }
#wb_main { height: 354px; }
#wb_footer { background: transparent none repeat-x scroll center bottom; height: 130px; }
#wb_footer { height: 130px; }
body { background: #0d9eff none repeat-x scroll left top; }
.wb_sbg { background: transparent url("../gallery_gen/1c8672d555bc0c121ea171c0aa926af8.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 992px; min-height: 2250px; }
.root { width: 992px; height: 2250px; overflow: visible; }
#wb_element_instance0 { left: 340px; top: 10px; min-width: 290px; width: 290px; min-height: 40px; height: 40px; display: block; z-index: 155; }
#wb_element_instance0 ul { background: transparent none repeat scroll center top; border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: center; }
#wb_element_instance0 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance0 li { margin: 7px 7px 7px 7px; }
#wb_element_instance0 li a { text-transform: none; border: 0px solid #f07f1c; padding: 5px 6px 5px 5px; font: normal normal 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal normal 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ff6347; line-height: 20px; background: transparent none no-repeat scroll center top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal normal 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ff816b; line-height: 20px; background: transparent none no-repeat scroll center top; }
#wb_element_instance1 { left: 160px; top: 30px; min-width: 560px; width: 560px; min-height: 80px; height: 80px; display: none; z-index: 140; }
#wb_element_instance2 { left: 10px; top: 10px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; z-index: 152; }
#wb_element_instance2 > div { width: 140px; height: 140px; background: transparent; border: 0px solid #000000; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance3 { left: 840px; top: 30px; min-width: 114px; width: 114px; min-height: 24px; height: 24px; display: block; z-index: 151; }
#wb_element_instance4 { left: 10px; top: 10px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; z-index: 153; }
#wb_element_instance4 img { width: 140px; height: 140px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance5 { left: 650px; top: 20px; min-width: 320px; width: 320px; min-height: 260px; height: 260px; display: block; z-index: 135; }
#wb_element_instance6 { left: 0px; top: 0px; min-width: 630px; width: 630px; min-height: 310px; height: 310px; display: block; z-index: 101; }
#wb_element_instance6 > div { width: 630px; height: 310px; background: #ffffff; border: 0px solid #000000; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance7 { left: 630px; top: 0px; min-width: 360px; width: 360px; min-height: 310px; height: 310px; display: block; z-index: 131; }
#wb_element_instance7 > div { width: 360px; height: 310px; background: #ff7e4f; border: 0px solid #000000; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance8 { left: 10px; top: 10px; min-width: 610px; width: 610px; min-height: 280px; height: 280px; display: block; z-index: 126; overflow: hidden; }
#wb_element_instance8 img { width: 440px; height: 170px; display: block; position: relative; left: -10px; top: 0px; max-width: inherit; }
#wb_element_instance9 { left: 0px; top: 300px; min-width: 990px; width: 990px; min-height: 1px; height: 1px; display: block; z-index: 100; }
#wb_element_instance9 > div { width: 990px; height: 1px; background: #ffffff; border: 0px none #C0C0C0; opacity: 0.8; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance10 { left: 290px; top: 310px; min-width: 410px; width: 410px; min-height: 24px; height: 24px; display: block; z-index: 156; }
#wb_element_instance11 { left: 0px; top: 354px; display: block; z-index: 9000; }

@media (min-width: 768px) {
	#wb_header { height: 151px; }
	#wb_main { height: 354px; }
	#wb_footer { height: 130px; }
	body, .wb_sbg { min-width: 992px; min-height: 635px; }
	.root { width: 992px; height: 635px; overflow: visible; }
	#wb_element_instance0 { left: 340px; top: 10px; min-width: 290px; width: 290px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance1 { left: 160px; top: 30px; min-width: 560px; width: 560px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance2 { left: 10px; top: 10px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance2 > div { width: 140px; height: 140px; }
	#wb_element_instance3 { left: 840px; top: 30px; min-width: 114px; width: 114px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 10px; top: 10px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance4 img { width: 140px; height: 140px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 650px; top: 20px; min-width: 320px; width: 320px; min-height: 260px; height: 260px; display: block; }
	#wb_element_instance6 { left: 0px; top: 0px; min-width: 630px; width: 630px; min-height: 310px; height: 310px; display: block; }
	#wb_element_instance6 > div { width: 630px; height: 310px; }
	#wb_element_instance7 { left: 630px; top: 0px; min-width: 360px; width: 360px; min-height: 310px; height: 310px; display: block; }
	#wb_element_instance7 > div { width: 360px; height: 310px; }
	#wb_element_instance8 { left: 10px; top: 10px; min-width: 610px; width: 610px; min-height: 280px; height: 280px; display: block; overflow: hidden; }
	#wb_element_instance8 img { width: 810px; height: 320px; display: block; position: relative; left: -190px; top: -10px; max-width: inherit; }
	#wb_element_instance9 { left: 0px; top: 300px; min-width: 990px; width: 990px; min-height: 1px; height: 1px; display: block; }
	#wb_element_instance9 > div { width: 990px; height: 1px; }
	#wb_element_instance10 { left: 290px; top: 310px; min-width: 410px; width: 410px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 151px; }
	#wb_main { height: 354px; }
	#wb_footer { height: 130px; }
	body, .wb_sbg { min-width: 992px; min-height: 635px; }
	.root { width: 992px; height: 635px; overflow: visible; }
	#wb_element_instance0 { left: 340px; top: 10px; min-width: 290px; width: 290px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance1 { left: 160px; top: 30px; min-width: 560px; width: 560px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance2 { left: 10px; top: 10px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance2 > div { width: 140px; height: 140px; }
	#wb_element_instance3 { left: 840px; top: 30px; min-width: 114px; width: 114px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 10px; top: 10px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance4 img { width: 140px; height: 140px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 650px; top: 20px; min-width: 320px; width: 320px; min-height: 260px; height: 260px; display: block; }
	#wb_element_instance6 { left: 0px; top: 0px; min-width: 630px; width: 630px; min-height: 310px; height: 310px; display: block; }
	#wb_element_instance6 > div { width: 630px; height: 310px; }
	#wb_element_instance7 { left: 630px; top: 0px; min-width: 360px; width: 360px; min-height: 310px; height: 310px; display: block; }
	#wb_element_instance7 > div { width: 360px; height: 310px; }
	#wb_element_instance8 { left: 10px; top: 10px; min-width: 610px; width: 610px; min-height: 280px; height: 280px; display: block; overflow: hidden; }
	#wb_element_instance8 img { width: 810px; height: 320px; display: block; position: relative; left: -190px; top: -10px; max-width: inherit; }
	#wb_element_instance9 { left: 0px; top: 300px; min-width: 990px; width: 990px; min-height: 1px; height: 1px; display: block; }
	#wb_element_instance9 > div { width: 990px; height: 1px; }
	#wb_element_instance10 { left: 290px; top: 310px; min-width: 410px; width: 410px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 151px; }
	#wb_main { height: 354px; }
	#wb_footer { height: 130px; }
	body, .wb_sbg { min-width: 992px; min-height: 635px; }
	.root { width: 992px; height: 635px; overflow: visible; }
	#wb_element_instance0 { left: 340px; top: 10px; min-width: 290px; width: 290px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance1 { left: 160px; top: 30px; min-width: 560px; width: 560px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance2 { left: 10px; top: 10px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance2 > div { width: 140px; height: 140px; }
	#wb_element_instance3 { left: 840px; top: 30px; min-width: 114px; width: 114px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 10px; top: 10px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance4 img { width: 140px; height: 140px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 650px; top: 20px; min-width: 320px; width: 320px; min-height: 260px; height: 260px; display: block; }
	#wb_element_instance6 { left: 0px; top: 0px; min-width: 630px; width: 630px; min-height: 310px; height: 310px; display: block; }
	#wb_element_instance6 > div { width: 630px; height: 310px; }
	#wb_element_instance7 { left: 630px; top: 0px; min-width: 360px; width: 360px; min-height: 310px; height: 310px; display: block; }
	#wb_element_instance7 > div { width: 360px; height: 310px; }
	#wb_element_instance8 { left: 10px; top: 10px; min-width: 610px; width: 610px; min-height: 280px; height: 280px; display: block; overflow: hidden; }
	#wb_element_instance8 img { width: 810px; height: 320px; display: block; position: relative; left: -190px; top: -10px; max-width: inherit; }
	#wb_element_instance9 { left: 0px; top: 300px; min-width: 990px; width: 990px; min-height: 1px; height: 1px; display: block; }
	#wb_element_instance9 > div { width: 990px; height: 1px; }
	#wb_element_instance10 { left: 290px; top: 310px; min-width: 410px; width: 410px; min-height: 24px; height: 24px; display: block; }
}